In [2]:
import pandas as pd

In [3]:
tabla = pd.read_csv('C:/Users/cti9264/Documents/Vscode Python/ventasTotales.csv',skiprows=5,sep=';')

In [4]:
tabla.head()

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/1/2016,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/1/2016,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/1/2016,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/1/2016,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/1/2016,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"

In [7]:
tabla.groupby('Región')

In [8]:
type(tabla.groupby('Región'))

pandas.core.groupby.generic.DataFrameGroupBy

In [9]:
list(tabla.groupby('Región'))

[('Este',
           Fecha          Vendedor Región           Artículo    Categoría  \
  4     1/1/2016   Desmond Delaney   Este          Chocolate  Comestibles
  5     1/1/2016  Trevor Snodgrass   Este            Cerveza  Comestibles
  8     1/1/2016  Trevor Snodgrass   Este                Pan  Comestibles
  9     1/1/2016        Sarah Bond   Este          Caramelos  Comestibles
  13    2/1/2016      Steve Ashton   Este         Detergente        Hogar
  ..         ...               ...    ...                ...          ...
  447  31/1/2016   Desmond Delaney   Este           Bombilla        Hogar
  449  31/1/2016    Boris Stanford   Este           Sudadera   Vestimenta
  450  31/1/2016    Boris Stanford   Este          Chocolate  Comestibles
  456  31/1/2016        Dustin Gee   Este          Sandalias   Vestimenta
  457  31/1/2016        Dustin Gee   Este  Sánguche de Queso  Comestibles

       Unidades Ganancia
  4          14     6,72
  5          15     6,00
  8          12     4,80
  9          15     9,00
  13          7    17,36
  ..        ...      ...
  447         8     4,80
  449         6    36,00
  450         3     1,44
  456        11   115,50
  457         4     6,40

  [138 rows x 7 columns]),
 ('Norte',
           Fecha         Vendedor Región           Artículo    Categoría  \
  0     1/1/2016     Steve Ashton  Norte   Medias Femeninas   Vestimenta
  6     1/1/2016   Boris Stanford  Norte          Pepinillo  Comestibles
  14    2/1/2016   Boris Stanford  Norte  Sánguche de Queso  Comestibles
  16    2/1/2016       Dustin Gee  Norte          Sandalias   Vestimenta
  23    2/1/2016       Sarah Bond  Norte            Bufanda   Vestimenta
  ..         ...              ...    ...                ...          ...
  439  30/1/2016  Desmond Delaney  Norte          Caramelos  Comestibles
  441  30/1/2016       Dustin Gee  Norte                Pan  Comestibles
  451  31/1/2016     Steve Ashton  Norte         Detergente        Hogar
  453  31/1/2016       Sarah Bond  Norte           Bombilla        Hogar
  458  31/1/2016       Dustin Gee  Norte         Escobillón        Hogar

       Unidades Ganancia
  0           6    18,00
  6          14     4,20
  14          8    12,80
  16          7    73,50
  23          4    11,00
  ..        ...      ...
  439        14     8,40
  441        14     5,60
  451        14    34,72
  453         4     2,40
  458         8     6,80

  [100 rows x 7 columns]),
 ('Oeste',
           Fecha          Vendedor Región           Artículo    Categoría  \
  1     1/1/2016  Trevor Snodgrass  Oeste          Chocolate  Comestibles
  7     1/1/2016      Steve Ashton  Oeste             Gorras   Vestimenta
  11    1/1/2016    Boris Stanford  Oeste         Calcetines   Vestimenta
  15    2/1/2016   Desmond Delaney  Oeste          Pepinillo  Comestibles
  21    2/1/2016    Boris Stanford  Oeste            Bufanda   Vestimenta
  ..         ...               ...    ...                ...          ...
  444  31/1/2016        Dustin Gee  Oeste  Sánguche de Queso  Comestibles
  446  31/1/2016  Trevor Snodgrass  Oeste           Sudadera   Vestimenta
  448  31/1/2016      Steve Ashton  Oeste              Lejía        Hogar
  452  31/1/2016        Dustin Gee  Oeste          Caramelos  Comestibles
  454  31/1/2016        Dustin Gee  Oeste      Limpiavidrios        Hogar

       Unidades Ganancia
  1           8     3,84
  7           2     4,20
  11          7    15,75
  15          5     1,50
  21         14    38,50
  ..        ...      ...
  444        12    19,20
  446         2    12,00
  448        15    46,50
  452         6     3,60
  454        13    10,40

  [102 rows x 7 columns]),
 ('Sur',
           Fecha          Vendedor Región           Artículo    Categoría  \
  2     1/1/2016        Sarah Bond    Sur             Gorras   Vestimenta
  3     1/1/2016   Desmond Delaney    Sur  Sánguche de Queso  Comestibles
  10    1/1/2016  Trevor Snodgrass    Sur                Pan  Comestibles
  12    1/1/2016  Trevor Snodgrass    Sur             Shorts   Vestimenta
  19    2/1/2016  Trevor Snodgrass    Sur             Escoba        Hogar
  ..         ...               ...    ...                ...          ...
  432  30/1/2016        Dustin Gee    Sur              Lejía        Hogar
  443  31/1/2016        Sarah Bond    Sur         Calcetines   Vestimenta
  445  31/1/2016   Desmond Delaney    Sur         Escobillón        Hogar
  455  31/1/2016        Sarah Bond    Sur            Bufanda   Vestimenta
  459  31/1/2016  Trevor Snodgrass    Sur          Pepinillo  Comestibles

       Unidades Ganancia
  2           3     6,30
  3           9    14,40
  10          6     2,40
  12          6    29,40
  19         11    40,15
  ..        ...      ...
  432        12    37,20
  443         7    15,75
  445         9     7,65
  455         6    16,50
  459         7     2,10

  [120 rows x 7 columns])]

In [12]:
for group_key, group_value in tabla.groupby('Región'):
    print(group_key)
    print(group_value)

Este
         Fecha          Vendedor Región           Artículo    Categoría  \
4     1/1/2016   Desmond Delaney   Este          Chocolate  Comestibles
5     1/1/2016  Trevor Snodgrass   Este            Cerveza  Comestibles
8     1/1/2016  Trevor Snodgrass   Este                Pan  Comestibles
9     1/1/2016        Sarah Bond   Este          Caramelos  Comestibles
13    2/1/2016      Steve Ashton   Este         Detergente        Hogar
..         ...               ...    ...                ...          ...
447  31/1/2016   Desmond Delaney   Este           Bombilla        Hogar
449  31/1/2016    Boris Stanford   Este           Sudadera   Vestimenta
450  31/1/2016    Boris Stanford   Este          Chocolate  Comestibles
456  31/1/2016        Dustin Gee   Este          Sandalias   Vestimenta
457  31/1/2016        Dustin Gee   Este  Sánguche de Queso  Comestibles

     Unidades Ganancia
4          14     6,72
5          15     6,00
8          12     4,80
9          15     9,00
13          7    17,36
..        ...      ...
447         8     4,80
449         6    36,00
450         3     1,44
456        11   115,50
457         4     6,40

[138 rows x 7 columns]
Norte
         Fecha         Vendedor Región           Artículo    Categoría  \
0     1/1/2016     Steve Ashton  Norte   Medias Femeninas   Vestimenta
6     1/1/2016   Boris Stanford  Norte          Pepinillo  Comestibles
14    2/1/2016   Boris Stanford  Norte  Sánguche de Queso  Comestibles
16    2/1/2016       Dustin Gee  Norte          Sandalias   Vestimenta
23    2/1/2016       Sarah Bond  Norte            Bufanda   Vestimenta
..         ...              ...    ...                ...          ...
439  30/1/2016  Desmond Delaney  Norte          Caramelos  Comestibles
441  30/1/2016       Dustin Gee  Norte                Pan  Comestibles
451  31/1/2016     Steve Ashton  Norte         Detergente        Hogar
453  31/1/2016       Sarah Bond  Norte           Bombilla        Hogar
458  31/1/2016       Dustin Gee  Norte         Escobillón        Hogar

     Unidades Ganancia
0           6    18,00
6          14     4,20
14          8    12,80
16          7    73,50
23          4    11,00
..        ...      ...
439        14     8,40
441        14     5,60
451        14    34,72
453         4     2,40
458         8     6,80

[100 rows x 7 columns]
Oeste
         Fecha          Vendedor Región           Artículo    Categoría  \
1     1/1/2016  Trevor Snodgrass  Oeste          Chocolate  Comestibles
7     1/1/2016      Steve Ashton  Oeste             Gorras   Vestimenta
11    1/1/2016    Boris Stanford  Oeste         Calcetines   Vestimenta
15    2/1/2016   Desmond Delaney  Oeste          Pepinillo  Comestibles
21    2/1/2016    Boris Stanford  Oeste            Bufanda   Vestimenta
..         ...               ...    ...                ...          ...
444  31/1/2016        Dustin Gee  Oeste  Sánguche de Queso  Comestibles
446  31/1/2016  Trevor Snodgrass  Oeste           Sudadera   Vestimenta
448  31/1/2016      Steve Ashton  Oeste              Lejía        Hogar
452  31/1/2016        Dustin Gee  Oeste          Caramelos  Comestibles
454  31/1/2016        Dustin Gee  Oeste      Limpiavidrios        Hogar

     Unidades Ganancia
1           8     3,84
7           2     4,20
11          7    15,75
15          5     1,50
21         14    38,50
..        ...      ...
444        12    19,20
446         2    12,00
448        15    46,50
452         6     3,60
454        13    10,40

[102 rows x 7 columns]
Sur
         Fecha          Vendedor Región           Artículo    Categoría  \
2     1/1/2016        Sarah Bond    Sur             Gorras   Vestimenta
3     1/1/2016   Desmond Delaney    Sur  Sánguche de Queso  Comestibles
10    1/1/2016  Trevor Snodgrass    Sur                Pan  Comestibles
12    1/1/2016  Trevor Snodgrass    Sur             Shorts   Vestimenta
19    2/1/2016  Trevor Snodgrass    Sur             Escoba        Hogar
..         ...               ...    ...                ...          ...
432  30/1/2016        Dustin Gee    Sur              Lejía        Hogar
443  31/1/2016        Sarah Bond    Sur         Calcetines   Vestimenta
445  31/1/2016   Desmond Delaney    Sur         Escobillón        Hogar
455  31/1/2016        Sarah Bond    Sur            Bufanda   Vestimenta
459  31/1/2016  Trevor Snodgrass    Sur          Pepinillo  Comestibles

     Unidades Ganancia
2           3     6,30
3           9    14,40
10          6     2,40
12          6    29,40
19         11    40,15
..        ...      ...
432        12    37,20
443         7    15,75
445         9     7,65
455         6    16,50
459         7     2,10

[120 rows x 7 columns]

In [13]:
type(group_value)

pandas.core.frame.DataFrame

In [14]:
tabla.groupby('Región').size()

Región
Este     138
Norte    100
Oeste    102
Sur      120
dtype: int64

In [15]:
tabla.groupby(['Región','Vendedor','Ganancia']).agg(['min','max','count'])

                                      Fecha                   \
                                        min        max count
Región Vendedor         Ganancia
Este   Boris Stanford   1,44      31/1/2016  31/1/2016     1
                        1,60       2/1/2016   2/1/2016     1
                        15,00     11/1/2016  11/1/2016     1
                        24,50      4/1/2016   4/1/2016     1
                        24,75     28/1/2016  28/1/2016     1
...                                     ...        ...   ...
Sur    Trevor Snodgrass 4,20      22/1/2016  22/1/2016     1
                        4,32      11/1/2016  11/1/2016     1
                        40,15      2/1/2016   2/1/2016     1
                        7,20      10/1/2016  10/1/2016     1
                        9,80      16/1/2016  16/1/2016     1

                                          Artículo                          \
                                               min               max count
Región Vendedor         Ganancia
Este   Boris Stanford   1,44             Chocolate         Chocolate     1
                        1,60                   Pan               Pan     1
                        15,00     Medias Femeninas  Medias Femeninas     1
                        24,50               Shorts            Shorts     1
                        24,75              Bufanda           Bufanda     1
...                                            ...               ...   ...
Sur    Trevor Snodgrass 4,20             Caramelos         Caramelos     1
                        4,32             Chocolate         Chocolate     1
                        40,15               Escoba            Escoba     1
                        7,20         Limpiavidrios     Limpiavidrios     1
                        9,80                Shorts            Shorts     1

                                    Categoría                    Unidades      \
                                          min          max count      min max
Región Vendedor         Ganancia
Este   Boris Stanford   1,44      Comestibles  Comestibles     1        3   3
                        1,60      Comestibles  Comestibles     1        4   4
                        15,00      Vestimenta   Vestimenta     1        5   5
                        24,50      Vestimenta   Vestimenta     1        5   5
                        24,75      Vestimenta   Vestimenta     1        9   9
...                                       ...          ...   ...      ...  ..
Sur    Trevor Snodgrass 4,20      Comestibles  Comestibles     1        7   7
                        4,32      Comestibles  Comestibles     1        9   9
                        40,15           Hogar        Hogar     1       11  11
                        7,20            Hogar        Hogar     1        9   9
                        9,80       Vestimenta   Vestimenta     1        2   2


                                 count
Región Vendedor         Ganancia
Este   Boris Stanford   1,44         1
                        1,60         1
                        15,00        1
                        24,50        1
                        24,75        1
...                                ...
Sur    Trevor Snodgrass 4,20         1
                        4,32         1
                        40,15        1
                        7,20         1
                        9,80         1

[427 rows x 12 columns]

In [16]:
tabla.groupby(['Región','Vendedor','Ganancia']).agg({'Región':['min','max','count']})

                                 Región
                                    min   max count
Región Vendedor         Ganancia
Este   Boris Stanford   1,44       Este  Este     1
                        1,60       Este  Este     1
                        15,00      Este  Este     1
                        24,50      Este  Este     1
                        24,75      Este  Este     1
...                                 ...   ...   ...
Sur    Trevor Snodgrass 4,20        Sur   Sur     1
                        4,32        Sur   Sur     1
                        40,15       Sur   Sur     1
                        7,20        Sur   Sur     1
                        9,80        Sur   Sur     1

[427 rows x 3 columns]

In [18]:
tabla.loc[tabla.Vendedor == 'Sarah bond'].groupby('Vendedor').agg({'Ganancia' : ['min','max']})

Empty DataFrame
Columns: [(Ganancia, min), (Ganancia, max)]
Index: []